/* Add font Roboto from Google font */

@import url("https://fonts.googleapis.com/css2?family=League+Spartan&family=Roboto&display=swap");

/**************** all html **************/

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/**************** html tag **************/

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/**************** body tag **************/

body {
    font-family: "League Spartan", sans-serif;
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: whitesmoke;
}

/**************** header tag **************/

header {
    min-height: 50px;
    justify-content: center;
    align-items: center;
}

/**************** img tag **************/

img {
    border-radius: 10%;
}

/**************** h1, h2 tag **************/

h1 {
    font-size: 50px;
}

h2 {
    font-weight: bold;
    color: whitesmoke;
}

/**************** a tag **************/

a:link,
a:visited {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    color: burlywood;
    text-decoration: none;
}

/**************** ol, ul tag **************/

ol,
ul {
    list-style-type: none;
}

/**************** p tag **************/

p {
    line-height: 20px;
    margin-bottom: 20px;
}

/**************** hamburger menu BAR **************/

.header{
    border-bottom: 0px solid #E2E8F0;
}

.navbar > .navbar {
    display: flex;
    justify-content: flex-end;
}
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem 1rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 50px;
    height: 10px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    margin-right: 2rem;
    /* justify-content: space-between; */
    align-items: center;
}

.nav-item {
    margin-left: 0.5rem;
}

.nav-link {
    font-size: 1rem;
    /* font-weight: 100; */
    color: #475569;
}

.nav-link:hover {
    color: #482ff7;
}

.nav-list a {
    display: block;
    font-size: 1rem;
    padding: 1rem;
}

@media only screen and (max-width: 768px) {
    .nav-list {
        position: fixed;
        left: -100%;
        top: 1rem;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-list.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}

/**************** NAV BAR **************/

nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;

    
    background-color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    z-index: 10;
}

nav > ul > li {
    list-style: none;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/**************** self-define SECTION **************/

.myself {
    color: coral;
    font-weight: bold;
}

.date {
    color: gold;
}

/**************** ABOUT SECTION **************/

.about-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(50, 50, 50);
    color: whitesmoke;
    justify-content: center;
    text-align: center;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

.about-section-header {
    margin: 80px auto 20px;
}

.about-section-body {    
    color: whitesmoke;
    width: 70%;
    text-align: justify;
    margin: 10px auto 10px;
}

/**************** EDUCATION SECTION **************/

.education-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(70, 70, 70);
    color: whitesmoke;
    justify-content: center;
    text-align: center;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

.education-section-header {
    margin: 80px auto 20px;
}

.education-section-body {
    text-align: justify;
    width: 70%;
    margin: 10px auto 10px;
}

/**************** EXPERIENCE SECTION **************/

.experience-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(90, 90, 90);
    color: whitesmoke;
    justify-content: center;
    text-align: center;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

.experience-section-header {
    margin: 80px auto 20px;
}

.experience-section-body {
    text-align: justify;
    width: 70%;
    /* margin: auto; */
    margin: 10px auto 10px;
}

/**************** PROJECTS SECTION **************/

.projects-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(110, 110, 110);
    color: whitesmoke;
    justify-content: center;
    text-align: center;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

.projects-section-header {
    margin: 100px auto 20px;
}

.projects-section-body {
    width: 70%;
    text-align: justify;
    margin: 10px auto;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    grid-gap: 4rem;
    width: 70%;
    justify-content: space-around;
    max-width: 1280px;
    margin: 30px auto;
    text-align: center;
}

.project-image {
    height: calc(100% - 0.8rem);
    width: 100%;
    object-fit: cover;
}

/**************** SKILLS SECTION **************/

.skills-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(130, 130, 130);
    color: whitesmoke;
    justify-content: center;
    text-align: center;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

.skills-section-header {
    margin: 80px auto 20px;
}
.skills-grid {
    display: flex;
    margin: 20px auto 20px;

}

.skills-grid-soft {
    display: flex;
    width: 50%;
    text-align: left;
    justify-content: space-around;
    padding: 10px;
}

.skills-grid-tech {
    display: flex;
    width: 50%;
    text-align: left;
    justify-content: space-around;
    padding: 10px;
}

/**************** CONTACT SECTION **************/

.contact-section {
    display: flex;
    flex-direction: column;
    background-color: rgb(150, 150, 150);
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

.contact-section-header {
    margin: 80px auto 20px
}

.contact-section-body {
    width: 70%;
    text-align: justify;
    margin: 50px auto 30px;
}

.contact-grid a {
    display:inline-flex;
    justify-content: space-evenly;
    width: 100px;
}

.btn-outline-secondary, .btn-outline-secondary:hover {
    border-color: rgb(150, 150, 150) !important;
}
/**************** FOOTER SECTION **************/

footer {
    display: flex;
    font-weight: 300;
    height: 50px;
    color:#475569;
    background-color: rgb(200, 200, 200);
    justify-content: space-evenly;
    padding: 1rem;
}
