/* Add font Roboto from Google font */

@import url("https://fonts.googleapis.com/css2?family=League+Spartan&family=Roboto&display=swap");

/**************** all html **************/

* {
    box-sizing: inherit;
    
}

/**************** html tag **************/

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/**************** body tag **************/

body {
    font-family: "League Spartan", sans-serif;
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: whitesmoke;
}

/**************** header tag **************/

header {
    min-height: 50px;
    justify-content: center;
    align-items: center;
}

/**************** img tag **************/

img {
    border-radius: 10%;
}

/**************** h1, h2 tag **************/

h1 {
    font-size: 50px;
}


h2 {
    font-weight: bold;
    color: whitesmoke;
}

/**************** a tag **************/

a:link,
a:visited {
    color: whitesmoke;
    /* color:rgb(0, 0, 0); */
    text-decoration: none;
}

a:hover {
    color:burlywood;
    text-decoration: none;
}

/**************** ol, ul tag **************/

ol,
ul {
    list-style-type: none;
}

/**************** NAV BAR **************/

nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    z-index: 10;
}

nav > ul > li {
    list-style: none;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-list {
    display: flex;
    margin-right: 2rem;
  }


  .nav-list a {
    display: block;
    font-size: 1rem;
    padding: 1rem;
  }

  @media (max-width: 600px) {
    #mobile-menu-btn {
      display: block;
    }
    nav p {
      display: none;
    }
    .mobile-menu {
      display: none;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  }
  
/**************** self-define SECTION **************/

.myself {
    color:coral;
}

.date {
    color:gold  ;
}



/**************** ABOUT SECTION **************/

.about-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(50, 50, 50);
    color: whitesmoke;
    justify-content: center;
    text-align: center;
    /* height: 80vh; */
}

.about-section-header  {
    margin: 100px auto 20px;
}

.about-section-body {
    color: whitesmoke;
    width: 70%;
    text-align: justify;
    margin: 10px auto 10px;
}

/**************** EDUCATION SECTION **************/

.education-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(70, 70, 70);
    color: whitesmoke;
    justify-content: center;
    text-align: center;
    /* height: 70vh; */
}

.education-section-header  {
    margin: 100px auto 20px;
}

.education-section-body {
    text-align: justify;
    width: 70%;
    margin: 10px auto 10px;
}

/**************** EXPERIENCE SECTION **************/

.experience-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(90, 90, 90);
    color: whitesmoke;
    justify-content: center;
    text-align: center;
    /* height: 80vh; */
}

.experience-section-header  {
    margin: 100px auto 20px;
}

.experience-section-body  {
    text-align: justify;
    width: 70%;
    /* margin: auto; */
    margin: 10px auto 10px;
}

/**************** PROJECTS SECTION **************/

.projects-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(110, 110, 110);
    color: whitesmoke;
    padding: 0px;
    justify-content: center;
    text-align: center;
}

.projects-section-header {
    margin: 100px auto 20px;
}

.projects-section-body {
    width: 70%;
    text-align: justify;
    margin: 10px auto;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 4rem;
    width: 70%;
    justify-content:space-around;
    max-width: 1280px;
    margin: 30px auto;
    text-align: center;
}

.project-image {
    height: calc(100% - 0.8rem);
    width: 100%;
    object-fit: cover;
}

/**************** SKILLS SECTION **************/

.skills-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(130, 130, 130);
    color: whitesmoke;
    justify-content: center;
    text-align: center;
    /* height: 80vh; */
}

.skills-section-header {
    margin: 100px auto 20px;
}
.skills-grid {
    display: flex;
    text-align: left;
    justify-content: center;
    /* columns: 2;
    flex-direction: column;
    
    margin: 20px auto; */
}

.skills-grid-soft {
    width: 50%;
}

.skills-grid-tech {
    width: 50%
}

/**************** CONTACT SECTION **************/

.contact-section {
    display: flex;
    flex-direction: column;
    background-color: rgb(150, 150, 150);
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;   
    /* min-height: 90vh; */
}

.contact-section-header {
    margin: 10px auto 30px;
}

.contact-section-body {
    width: 70%;
    text-align: justify;
    margin: 50px auto 30px;
}

/**************** FOOTER SECTION **************/

footer {
    font-weight: 300;
    display: flex;
    background-color: rgb(200, 200, 200);
    justify-content: space-evenly;
    padding: 2rem;
    /* border-top: 4px solid var(--main-red); */
}
